@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sawer";
  src: url("../public/fonts/Sawer.ttf");
}

@layer base {
  :root {
    --primary: #6c47c8; /* Vibrant Purple */
    --primary-hover: #5b3baa;
    --secondary: #72b5f9; /* Soft Blue */
    --secondary-hover: #5a9fdb;
    --text-contrast: #ffffff; /* White Text */
    --dark-text-contrast: #d1d5db; /* Softer White */
    --background: #f8fafc; /* Light Background */
    --dark-background: #1a202c; /* Dark Mode Background */
  }

  .font-outline-1 {
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px;
    -webkit-text-fill-color: transparent;
  }
}
